.contact-page {
  background: #ffffff;
}

.contact-header {
  background: #0b5733;
  color: white;
  padding: 80px 80px;
  border-radius: 0 0 10px 10px;
  margin-top: 70px;
  height: 50vh;
  text-align: left;
}

.contact-content {
  /* margin-top: -100px; */
}

.contact-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
  margin-top: -100px;
}
.contact-left{
    margin-top: 100px;
    
}
.contact-info p {
  margin-bottom: 15px;
  font-size: 16px;
}

.faq-section {
  padding: 80px 20px;
}

.faq-title {
  font-size: 34px;
  font-weight: 700;
}

.faq-subtitle {
  color: #8b8b8b;
  margin-top: 5px;
}

.faq-wrapper {
  max-width: 850px;
  margin: auto;
}

.faq-item {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  font-size: 18px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #111;
}

.faq-icon {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.faq-answer {
  background-color: #e9f9f5;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
    .contact-card{
        /* margin-top: -120px; */
        padding-top: 10px ;
        margin-bottom: 10px;
    }
    .contact-left{
    margin-bottom: 60px;
    
}
}
