

.navbar-custom {
  background: black !important;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.dropdown-item:hover{
  background-color: #198754;
  border-radius: 5px;
}

.menu-btn.services-navbar{
  color:#222
}

.navbar-tabs{
    margin-left: 40px;
}

.navbar-main {
    position: fixed !important;
  width: 100%;
  position: fixed !important;   /* makes it stick */
  top: 0;
  z-index: 10 !important;
  padding-bottom: 15px ;
  background: black;
  transition: all 0.4s ease;
   

}


/* Navbar when scrolled */
.navbar.navbar-scrolled {
  background: rgba(0, 0, 0, 0.65); /* translucent black */
  backdrop-filter: blur(5px);
}

.navbar-brand{
  color: #ddd !important;
}


.nav-link {
  color: black;
  font-weight: 600;
}

.nav-link:hover {
  color: #ddd !important;
}

/* Dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  border-radius: 10px;
  padding: 10px;
}

.navbar-white {
  background: white !important;
  transition: 0.3s ease;
}

.navbar-transparent {
  background: transparent !important;
  transition: 0.3s ease;
}

.offcanvas .nav-link {
  font-size: 16px;
}

.accordion-body .nav-link{
    color: grey !important;
}

.offcanvas {
  position: fixed !important;
  top: 0;
  height: 100vh !important;
  z-index: 10000 !important;
}
.offcanvas-backdrop {
  position: fixed !important;
  z-index: 9998 !important;
}



.offcanvas ul ul {
  margin-left: 10px;
}
.accordion-button {
  font-size: 17px;
}

.accordion-button:not(.collapsed) {
  background-color: #222 !important;
  color: white !important;
}

.accordion-item {
  border: none;
}

.mobile-search {
  flex: 1;
  max-width: 70%;
  display: flex !important;
  align-items: center;
}

.small-nav-input {
  height: 35px;
  font-size: 15px;
}

.category-nav {
  width: 100%;
  background: transparent !important;
  padding: 12px 40px 4px 50px;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
  
  display: flex;
  overflow-x: auto;
  gap: 30px;
  white-space: nowrap;
  position: absolute;
 top: 70px;
 left: 0;
  z-index: 5;
   /* adjust based on navbar height */

   mix-blend-mode: difference;
 
}

.category-item {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 500;
  color: white;
  cursor: pointer !important;
  padding: 6px 0;
  position: relative;
}

.category-item:hover {
  color: #198754;
}

.category-item.active {
  color: #198754;
  font-weight: 600;
}

/* underline animation */
.category-item.active::after,
.category-item:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #ddd;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.sticky-search {
  background: transparent;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 6px 15px;
  font-size: 14px;
  margin-left: 50px;
  width: 300px;
  transition: width .3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-search-input{
  position: relative;
  background: transparent;
  border: none !important;
  padding: 3px 0px;
  border-radius: 999px;
  width: 100%;
  outline: none;
}

.sticky-search-input:focus {
  border-style: hidden;
  border: none !important;


}



@media(min-width: 992px) {
  .mobile-search {
    display: none !important;
  }
}


/* Desktop hover dropdown */
@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  .nav-link,
.navbar-brand {
  color: white !important;
  font-weight: 600;
}
}

